image_processor/__pycache__
__pycache__

test/output/*
test/007_1.png
test/input/*

test/generated_test/input/*
test/generated_test/output/*
!test/generated_test/.dummy

test/user_test/input/*
test/user_test/output/*
!test/user_test/input/.dummy
!test/user_test/output/.dummy

gui/
# GUI experimental files (local development only)
gui_simple.py
